.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-bottom: 30px;
}

.item {
  display: flex;
  flex-basis: calc((100% - 8 * 10px) / 8);
  margin: 5px;
  border-radius: 2px;
}

.card {
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}
