.card {
  padding: 0 100px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(197, 197, 197);
  padding: 20px;
}

.poster {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

.image {
  width: 80%;
}

.tagline {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.details {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list {
  width: 650px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.item:not(:last-child) {
  margin-bottom: 25px;
}

.meaning {
  width: 110px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.value {
  text-align: left;
}

.overviewText {
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
}
