.card {
  padding: 0 100px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.poster {
  position: relative;
  display: block;
  overflow: hidden;
  margin-right: 100px;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 3px;
  object-fit: cover;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.poster:hover {
  opacity: 0.7;
}

.poster::after {
  content: "";
  position: absolute;
  background-image: url(../../images/play.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

.tagline {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.details {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list {
  width: 500px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 25px;
}

.meaning {
  width: 110px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.value {
  text-align: left;
}

.overviewTitle {
  margin-bottom: 20px;
}

.overviewText {
  text-align: left;
  margin-bottom: 40px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.infoItem {
  list-style: none;
}

.infoItem:not(:last-child) {
  margin-right: 50px;
}

.linkInfo {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 23px 15px;
  font-size: 18px;
  color: rgb(0 0 0);
  line-height: 14px;
  letter-spacing: 0.4px;
}

.activeLinkInfo {
  color: rgb(60 180 231);
}

.linkInfo:hover,
.linkInfo:focus {
  color: rgb(60 180 231);
}

.buttonContainer {
  width: 180px;
  margin-right: auto;
  margin-bottom: 30px;
}

.button {
  position: absolute;
  top: -40px;
  left: 115px;
  padding: 4px 10px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: rgb(60 180 231);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 100px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus {
  background-color: rgb(4 133 187);
}
